<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
</head>
<body>
<div align="center"><h2>Список Пользователей</h2></div>
    <form>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Password</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>

                <tr th:each ="user : ${users}">
                    <td th:utext="${user.id}"></td>
                    <td th:utext="${user.username}"></td>

                    <td th:utext="${user.password}"></td>
                    <td th:utext="${user.email}"></td>

                    <td>
                        <button formaction="/admin/remove" formmethod="post" type="submit" name="id" th:value="${user.id}">Удалить</button>
                    </td>
                    <td>
                        <button formaction="/admin/update" formmethod="get" type="submit" name="id" th:value="${user.id}">Изменить

                        </button>
                    </td>

                </tr>
            </tbody>
            <thead>
            <tr>
                <th><label><input type="text" name="name"/></label> </th>
                <th><label> <input type="text" name="password"/></label></th>
                <th><input formaction="/admin/add" formmethod="post" type="submit" value="Добавить пользователя"></th>
                <th><input formaction="/logout" formmethod="get" type="submit" value="Выйти из системы"></th>
            </tr>
            </thead>
        </table>
    </form>
</body>
</html>